<p>
  <label><%= l(:field_description) %></label>
  <%= text_field_tag('tips_chips[description]', @tip.description, :size => 100) %>
</p>

<p>
  <label><%= l(:field_url) %></label>
  <%= text_field_tag('tips_chips[url]', @tip.url, :size => 100) %>
</p>
